html *
{
   font-family: Asap;
}


h1 {
	text-align: center;
	/*color: #9cc;*/
	color: #18BABC;
	margin-bottom: 0;
	margin-top: 120px;
	font-family: Cour;
	font-weight: bold;
	line-height: normal;
	font-size: 75px;

	

}

h2 {
	/*color: #9cc;*/
	color: #18BABC;
	font-family: "Cour";
	font-weight: bold;
	font-size: 32px;
}

body {
	margin: 0;
}

button {
	cursor: pointer;
}

button:focus {outline:0;}
textarea:focus {outline:0;}

a {
	text-decoration: none;
}

ul {

	list-style-type: none;
}

.container {
	margin: auto;
	width: 1000px;
	position: relative;
}



/*deprecated
#maindiv { 
	margin: auto;
    width: 720px;
    height: 100%;
    padding: 10px;
    background-color: #7a9;
}*/

#top{
	background-image: url("imagens/imagem.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;     
	height : 700px;
}

#top .container {
	height: 600px;
}

#header {
	height: 100px;
}

#IbictLogoTop {
	float:left;
	margin-top: 30px;
	padding: 10px;
	width: 150px;
	color: #ccc;
}


#menutop {
	float: right;
	margin-top: 50px;
	margin-right: 0px;

}

#menutop a {

	font-family: "Cour";
	line-height: normal;
	font-size: 18px;
	font-weight: bold;
	color: #ED5375;
}

#menutop a:hover {
	/*color: #c4529f;*/
	color: #CD3355;

}

#menutop li {
	margin-right: 30px;
	display: inline;
}

#titulo {
	float:left;
	width: 100%;

}

#titulo p {
	text-align: center;
}

#subtitulo{
	color: #ED5375;
	font-family: "Cour";
	font-weight: bold;
	margin-top: 0;
    margin-bottom: 50px;
    font-size: 22px;
}

#explicacao {
	color: #fff;
	width: 400px;
	margin: auto;

}

#seta {
  	width: 100%;
}

#seta a {
	display: block;
	margin: auto;
  	width: 42px;
}

#gradiente {
	height: 100px;
	background: #0E163B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, #0E163B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, #0E163B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, #0E163B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, #0E163B); /* Standard syntax (must be last) */
}


#traducao{

	padding-top: 80px;
	padding-bottom: 80px;
	height: 600px;
	background-color: #0E163B;
}

#traducao1 {
	height: 130px;
}

#traducao1 h2 {
	float: left;
	width: 300px;
}

#BotaoMorse {
	float: right;
	width: 120px;
	height: 35px;
	margin: 20 0;
	border: 0;
	color: rgba(237, 83, 117, 0.6);
	font-family: "AsapBD";

	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;

}

#BotaoCesar {
	float: right;
	width: 120px;
	height: 35px;
	margin: 20 0;
	border: 0;
	color: rgba(237, 83, 117, 0.6);
	font-family: "AsapBD";

	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#vermaiscodigos {
	float: right;
	text-decoration: underline;
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin-top: 28;
	margin-left: 15;
	display: inline-block;
}

#traducao2 {
	height: 354px;
}


#traducao2 textarea {
	float: left;
	resize: none;
	font-size: 30px;

	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	border:hidden;
	padding: 15px;
	display: block;
    width: 500px;
    height: 350px;
}

#traducao2 textarea::placeholder {
	color: rgba(237, 83, 117, 0.6);
	font-family: AsapBD;
	font-size: 18px;

}


.morse {
	font-family: 'Morse', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 50px;
}

.morse2 {
	font-size: 30px;
	font-family: 'Fredoka';

}

.cesar {
	font-size: 30px;

}

#traducao2 p {
	float:left;
	color: white;
	-webkit-border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 15px;
    width: 470px;
    height: 320px;
    max-height: 320px;
    overflow: auto;
    margin: 0;
	
}

#maiszinho {
	font-family: AsapBD;
	position: absolute; 
	left: 170px; 
	margin-top: 19px;
	color: #BDBDBD;
}

#senha{
	float: left;
	resize: none;
	text-align: right;

	color: #4F4F4F;
	font-family: AsapBD;
	font-size: 14px;

	width: 43px;
	height: 30px;
	padding: 7px 10px;
	margin: 15px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:hidden;
}

#labelsenha{
	float: left;
	color: #BDBDBD;
	margin-top: 20px;
}

#BotaoTraduzir {
	float: right;
	border: 0;
	padding: 7px 40px;
	margin: 15px;
	font-family: Cour;
	font-weight: bold;
	height: 35px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	background-color: #DB526F;
	color: white;
}

#infosenha {
	float: right;
	width: 240px;

	font-size: 13px;
	color: #BDBDBD;
	text-align: right;
}

#sobreoscodigos {
	padding-top: 60px;
	padding-bottom: 80px;

}

#explicacodigos{

	border-style: solid;
	border-width: 3px;
	padding: 60px 30px;
	border-color: #18BABC;
	box-shadow: 0px 0px 20px #18BABC inset, 0px 0px 20px #18BABC;
	height: 300px;
}

#explicacodigos h3 {
	font-family: Cour; 
	font-weight: bold;
	text-align: right;
	color: #DB526F;
}

#explicacodigos p {
	
	color: #4F4F4F;
	margin-left: 20px;
	margin-right: 30px;
}

#explicacodigos a {
	
	color: #DB526F;
	margin-left: 20px;
}


#sobreoibict{
	background-color: #e2e2e2;
	padding:30px;
	height: 500px;
}

#sobreoibict1{
	width: 50%;
	float: left;
}

#sobreoibict1 h2 {
	margin-bottom: 80px;
}

#sobreoibict1 p {
	margin-left: 80px;
	color: #4F4F4F;
}

#sobreoibict1 a {
	margin: 10px;
	color: #DB526F;
}

#sobreoibict2{
	width: 30%;
	float: right;
}

#sobreoibict2 img {

	margin-top: 160px;
}

#rodape{
	background-color: #0E163B;
	height: 50px;
}

#rodape p {

	font-family: Asap;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;

	color: #FFF;
	display: inline-block;
}

.braille {
	font-family: 'Braille', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 50px;
}

@font-face {
	font-family: "Morse";
	src: url("fontes/morse/MorseCode.ttf");
	src: 
	url("fontes/morse/MorseCode.otf") format("opentype");
}

@font-face {
	font-family: "Fredoka";
	src: url("fontes/morse/FredokaOne-Regular.ttf");
}


@font-face {
	font-family: "Harabara Bold";
	src: url("css/fonts/Harabara.eot");
	src: 
	url("css/fonts/Harabara.woff") format("woff"),
	url("css/fonts/Harabara.otf") format("opentype"),
url("css/fonts/Harabara.svg#filename") format("svg");
}

@font-face {
	font-family: "Courier New";
	src: url("fontes/CourierNew.ttf");
}


@font-face {
	font-family: "Cour";
	src: url("fontes/stephanie/COUR.TTF");
}

@font-face {
	font-family: "Cour";
	src: url("fontes/stephanie/COURBD.TTF");
	font-weight: bold;
}

@font-face {
	font-family: "Asap";
	src: url("fontes/stephanie/ASAP-REGULAR.TTF");
}

@font-face {
	font-family: "AsapBD";
	src: url("fontes/stephanie/ASAP-BOLD.TTF");
}